{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>帳簿のリセット</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>{{ object.date }}</p>
        <p>{{ object.title }}&emsp;{{ object.memo}}</p>
        <p>+{{ object.income }}</br>-{{ object.expenses }}</p>
        <a href="{% url 'new' %}" class="btn btn-secondary" role="button" aria-pressed="true">記録してリセット</a>
    </div>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}